In [158]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
from pathlib import Path
import string as str

In [58]:
data_events = pd.read_csv("raw_data/240304 BPM Events list people  - ALL __.csv")
data_scraped = pd.read_csv("raw_data/result.csv")

In [29]:
data = pd.read_csv("raw_data/BPM Events list people.csv")

In [105]:
data.shape

(999, 20)

In [152]:
data_ = data.copy()

In [153]:
 # data_[data_['Contacts'].apply(lambda x: isinstance(x, float))]

In [154]:
data_.Contacts.isna().sum()

253

In [155]:
data_.Contacts.dropna()

0          miji.lee.kr@hotmail.com
1         aleksej.ruckoj@gmail.com
2         aleksej.ruckoj@gmail.com
3            zulfia@malyshenko.com
4        kumari.nisha.de@gmail.com
                  ...
741    abdelrahman.wahba@gmail.com
742            abbostore@gmail.com
743            a.volosha@gmail.com
744          a.tanselcan@gmail.com
745        1cmarcosrubio@gmail.com
Name: Contacts, Length: 746, dtype: object

In [160]:
for i in data_.index:
    data_.loc[i, "Contacts"] = data_.loc[i, "Contacts"].lower()
data_

AttributeError: 'float' object has no attribute 'lower'

In [146]:
data_n_ = data_.drop_duplicates()
data_n_

,Contacts,# registered,# cancel,# attended,# strike count,Active,Name,Surname,1,2,3,4,5,6,7,8,9,10,11,12
0,miji.lee.kr@hotmail.com,3,0,5,-2,True,Miji,Lee,1,1,1,0,1,1,0,0,0,0,0,0
1,aleksej.ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
3,zulfia@malyshenko.com,2,1,4,-3,True,Zulfiya,Malyshenko,1,0,0,1,1,1,0,0,0,0,0,0
4,kumari.nisha.de@gmail.com,2,0,4,-2,True,Nisha,Kumari,0,1,1,0,1,1,0,0,0,0,0,0

In [30]:
data.head()

,Contacts,# registered,# cancel,# attended,# strike count,Active,Name,Surname,1,2,3,4,5,6,7,8,9,10,11,12
0,miji.lee.kr@hotmail.com,3,0,5,-2,True,Miji,Lee,1,1,1,0,1,1,0,0,0,0,0,0
1,aleksej.ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
2,Aleksej.Ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
3,zulfia@malyshenko.com,2,1,4,-3,True,Zulfiya,Malyshenko,1,0,0,1,1,1,0,0,0,0,0,0
4,kumari.nisha.de@gmail.com,2,0,4,-2,True,Nisha,Kumari,0,1,1,0,1,1,0,0,0,0,0,0

In [106]:
data_events.shape

(1067, 14)

In [186]:
data_events[data_events["First Name"] == "Andrey"]

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,Location
152,2,Andrey,R-K,avrkwork@gmail.com,Checked In,Marketing,NaN,Product Marketing,NaN,I know the organizers,WE DO,Yes,Tuesday,Berlin
372,3,Andrey,Shilin,Andrew.shilin@gmail.com,Attending,Product,NaN,Product Manager,NaN,LinkedIn,HelloFresh,Yes,Thursday,Berlin
436,3,Andrey,R-K,avrkwork@gmail.com,Checked In,Marketing,NaN,NaN,NaN,I know the organizers,WE DO,Yes,Thursday,Berlin
624,5,Andrey,Shilin,andrew.shilin@gmail.com,Attending,Product,Product Manager,NaN,NaN,LinkedIn,HelloFresh,No,Thursday,Berlin
754,5,Andrey,R-K,andrewklauds@gmail.com,Checked In,Marketing,NaN,Product Marketing,NaN,I know the organizers,WE DO,No,Thursday,Berlin
985,6,Andrey,R-K,andrewklauds@gmail.com,Checked In,Marketing,NaN,Product Marketing,NaN,I know the organizers,WE DO,Yes,Thursday,Berlin

In [31]:
data_events.head()

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,Location
0,2,Patrick,Beeker,patrick.beeker@gmail.com,Attending,Product,Product Manager,NaN,NaN,BPM Meetup group,Smartbroker AG,Yes,Tuesday,Berlin
1,2,Teena,Kumari,teena2768@gmail.com,Attending,Product,Product Manager,NaN,NaN,LinkedIn,World simplifed Ug,Yes,Tuesday,Berlin
2,2,Nesha,Siwi,i@neshasiwi.de,Attending,Design,NaN,NaN,NaN,LinkedIn,Freelancer,Yes,Tuesday,Berlin
3,2,Shuvam kumar,Sah,shuvamshah98152@gmail.com,Attending,Student,NaN,NaN,NaN,BPM Meetup group,ATEM,Yes,Tuesday,Berlin
4,2,Ayman,Chalhoub,aymanc@gmail.com,Attending,Founder / CXO,NaN,NaN,NaN,Lenny's Newsletter,Clink,Yes,Tuesday,Berlin

In [32]:
data_scraped.head()

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,subscribers,mutualConnectionsText,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl
0,https://linkedin.com/in/patrick-beeker-4673311,Patrick Beeker,https://www.linkedin.com/in/patrick-beeker-467...,NaN,https://www.linkedin.com/in/patrick-beeker-467...,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",Patrick,Beeker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://linkedin.com/in/teena-kumari-0b8359271,Teena Kumari â€“ Tech product support intern â€“ H...,https://www.linkedin.com/in/teena-kumari-0b835...,NaN,https://www.linkedin.com/in/teena-kumari-0b835...,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",Teena,Kumari,...,1148.0,"Carlo Cantarini, Thomas Hartmann, and 28 other...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://linkedin.com/in/mischagawronski,Mischa Gawronski â€“ Creative Director â€“ Freelance,https://www.linkedin.com/in/mischagawronski/,NaN,https://www.linkedin.com/in/mischagawronski/,Passionate and challenging influencer in strat...,IGP Network | Creative Director,"Berlin, Berlin, Germany",Mischa,Gawronski,...,149.0,NaN,https://media.licdn.com/dms/image/C5603AQHb9Mw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://linkedin.com/in/shuvam-kumar-sah-88590...,Shuvam Kumar Sah â€“ Web Designer,https://www.linkedin.com/in/shuvam-kumar-sah-8...,NaN,https://www.linkedin.com/in/shuvam-kumar-sah-8...,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",Shuvam Kumar,Sah,...,467.0,ðŸ¤– Leon Meier and Nisha Kumari are mutual conne...,https://media.licdn.com/dms/image/D4E03AQFcJ48...,dribbble.com/shuvam_sah,NaN,NaN,NaN,NaN,NaN,NaN
4,https://linkedin.com/in/chalhoub,Ayman Chalhoub - Clink,https://www.linkedin.com/in/chalhoub/,NaN,https://www.linkedin.com/in/chalhoub/,NaN,Product & Growth,"Berlin, Berlin, Germany",Ayman,Chalhoub,...,1975.0,"Torben Schulz, Sonya Pobiedimska, and 2 other ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data.shape

(999, 20)

In [34]:
data_events.shape

(1067, 14)

In [35]:
data_scraped.shape

(504, 69)

In [161]:
data_scraped.columns

Index(['url', 'title', 'linkedinProfileUrl', 'email', 'linkedinProfile',
       'description', 'headline', 'location', 'firstName', 'lastName',
       'fullName', 'connectionDegree', 'vmid', 'userId',
       'linkedinSalesNavigatorUrl', 'connectionsCount', 'connectionsUrl',
       'mutualConnectionsUrl', 'company', 'companyUrl', 'jobTitle',
       'jobDescription', 'jobLocation', 'jobDateRange', 'jobDuration',
       'company2', 'companyUrl2', 'jobTitle2', 'jobDescription2',
       'jobLocation2', 'jobDateRange2', 'jobDuration2', 'school', 'schoolUrl',
       'schoolDegree', 'schoolDescription', 'schoolDateRange', 'school2',
       'schoolUrl2', 'schoolDegree2', 'schoolDescription2', 'schoolDateRange2',
       'birthday', 'allSkills', 'skill1', 'endorsement1', 'skill2',
       'endorsement2', 'skill3', 'endorsement3', 'skill4', 'endorsement4',
       'skill5', 'endorsement5', 'skill6', 'endorsement6', 'baseUrl',
       'profileId', 'timestamp', 'subscribers', 'mutualConnectionsText',
       'imgUrl', 'website', 'mail', 'connectedOn', 'error', 'phoneNumber',
       'partialScreenshot', 'facebookUrl'],
      dtype='object')

In [38]:
data_scraped.dtypes

url                   object
title                 object
linkedinProfileUrl    object
email                 object
linkedinProfile       object
                       ...
connectedOn           object
error                 object
phoneNumber           object
partialScreenshot     object
facebookUrl           object
Length: 69, dtype: object

In [40]:
data_scraped.info

<bound method DataFrame.info of                                                    url  \
0       https://linkedin.com/in/patrick-beeker-4673311
1       https://linkedin.com/in/teena-kumari-0b8359271
2              https://linkedin.com/in/mischagawronski
3    https://linkedin.com/in/shuvam-kumar-sah-88590...
4                     https://linkedin.com/in/chalhoub
..                                                 ...
499             https://linkedin.com/in/lydia-dietrich
500  https://linkedin.com/in/busayomi-omotosho-1ab4...
501  https://linkedin.com/in/schultz-zehden-angela-...
502  https://linkedin.com/in/abhishek-khatri-015255...
503               https://linkedin.com/in/ramin-amirov

                                                 title  \
0                                       Patrick Beeker
1    Teena Kumari â€“ Tech product support intern â€“ H...
2     Mischa Gawronski â€“ Creative Director â€“ Freelance
3                      Shuvam Kumar Sah â€“ Web Designer
4                               Ayman Chalhoub - Clink
..                                                 ...
499       Lydia Dietrich - Product Manager - GoStudent
500                     Busayomi Omotosho - Hexad GmbH
501  Schultz-Zehden Angela - SUBMARINER Network for...
502                          Abhishek Khatri â€“ Zalando
503                       Ramin Amirov - mytheresa.com

                                    linkedinProfileUrl  \
0    https://www.linkedin.com/in/patrick-beeker-467...
1    https://www.linkedin.com/in/teena-kumari-0b835...
2         https://www.linkedin.com/in/mischagawronski/
3    https://www.linkedin.com/in/shuvam-kumar-sah-8...
4                https://www.linkedin.com/in/chalhoub/
..                                                 ...
499        https://www.linkedin.com/in/lydia-dietrich/
500  https://www.linkedin.com/in/busayomi-omotosho-...
501  https://www.linkedin.com/in/schultz-zehden-ang...
502                                                NaN
503          https://www.linkedin.com/in/ramin-amirov/

                            email  \
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
..                            ...
499                           NaN
500  busayomiomotosho10@gmail.com
501                           NaN
502                           NaN
503          romichamir@gmail.com

                                       linkedinProfile  \
0    https://www.linkedin.com/in/patrick-beeker-467...
1    https://www.linkedin.com/in/teena-kumari-0b835...
2         https://www.linkedin.com/in/mischagawronski/
3    https://www.linkedin.com/in/shuvam-kumar-sah-8...
4                https://www.linkedin.com/in/chalhoub/
..                                                 ...
499        https://www.linkedin.com/in/lydia-dietrich/
500  https://www.linkedin.com/in/busayomi-omotosho-...
501  https://www.linkedin.com/in/schultz-zehden-ang...
502                                                NaN
503          https://www.linkedin.com/in/ramin-amirov/

                                           description  \
0    Experienced professional with the ability to c...
1    I am a Product Owner at World Simplified UG, a...
2    Passionate and challenging influencer in strat...
3    Designer & Problem Solver | CS Student | Aimin...
4                                                  NaN
..                                                 ...
499                                                NaN
500  Hello there! I'm Busayomi. \n\nI have been a p...
501                                                NaN
502  PID-IT | SICHERES POPM | PSM | AGILER COACH | ...
503  An enthusiastic, adaptive and open-minded pers...

                                              headline  \
0    General Manager - US Finance, Legal, HR, Accou...
1                Tech product support intern at Holidu
2                      IGP Network | Creative Director
3                 Making Interfaces Sexier - UI/UX/Dev
4                                     Product & Growth
..                                                 ...
499                       Product Manager at GoStudent
500  Product management | B2B | B2C | Product manag...
501                     Unternehmensinhaber s.Pro GmbH
502  Senior Program Manager @ Zalando | PGD-IT, PRI...
503                                  Marketing Analyst

                             location       firstName   lastName  ...  \
0    Carrollton, Texas, United States         Patrick     Beeker  ...
1             Berlin, Berlin, Germany           Teena     Kumari  ...
2             Berlin, Berlin, Germany          Mischa  Gawronski  ...
3             Berlin, Berlin, Germany    Shuvam Kumar        Sah  ...
4             Berlin, Berlin, Germany           Ayman   Chalhoub  ...
..                                ...             ...        ...  ...
499           Berlin, Berlin, Germany           Lydia   Dietrich  ...
500           Berlin, Berlin, Germany        Busayomi   Omotosho  ...
501          Berlin Metropolitan Area  Schultz-Zehden     Angela  ...
502          Berlin Metropolitan Area        Abhishek     Khatri  ...
503                           Germany           Ramin     Amirov  ...

    subscribers                              mutualConnectionsText  \
0           NaN                                                NaN
1        1148.0  Carlo Cantarini, Thomas Hartmann, and 28 other...
2         149.0                                                NaN
3         467.0  ðŸ¤– Leon Meier and Nisha Kumari are mutual conne...
4        1975.0  Torben Schulz, Sonya Pobiedimska, and 2 other ...
..          ...                                                ...
499       293.0  Chiara Zanchetta and Maaz Bin Kashif are mutua...
500       831.0  Esther Kim Trapadoux, Dominik Kress, and 36 ot...
501       836.0                                                NaN
502         NaN             Carlo Cantarini is a mutual connection
503       715.0  Sonya Pobiedimska, Matti ðŸ¥‘ Schurr, and 4 other...

                                                imgUrl  \
0                                                  NaN
1                                                  NaN
2    https://media.licdn.com/dms/image/C5603AQHb9Mw...
3    https://media.licdn.com/dms/image/D4E03AQFcJ48...
4                                                  NaN
..                                                 ...
499  https://media.licdn.com/dms/image/C4D03AQHU75_...
500  https://media.licdn.com/dms/image/D4E03AQEdfdC...
501  https://media.licdn.com/dms/image/C5603AQH7y4I...
502  https://media.licdn.com/dms/image/D4D03AQHwVsy...
503  https://media.licdn.com/dms/image/C4E03AQGIzl_...

                     website                          mail  connectedOn error  \
0                        NaN                           NaN          NaN   NaN
1                        NaN                           NaN          NaN   NaN
2                        NaN                           NaN          NaN   NaN
3    dribbble.com/shuvam_sah                           NaN          NaN   NaN
4                        NaN                           NaN          NaN   NaN
..                       ...                           ...          ...   ...
499                      NaN                           NaN          NaN   NaN
500                      NaN  busayomiomotosho10@gmail.com  Nov 9, 2023   NaN
501  sustainable-projects.eu                           NaN          NaN   NaN
502                      NaN                           NaN          NaN   NaN
503                      NaN          romichamir@gmail.com          NaN   NaN

    phoneNumber                                  partialScreenshot facebookUrl
0           NaN                                                NaN         NaN
1           NaN                                                NaN         NaN
2           NaN                                                NaN         NaN
3           NaN                                                NaN         NaN
4           NaN                                                NaN         NaN
..          ...                                                ...         ...
499         NaN  https://phantombuster.s3.amazonaws.com/nitYe1s...         NaN
500         NaN  https://phantombuster.s3.amazonaws.com/nitYe1s...         NaN
501         NaN  https://phantombuster.s3.amazonaws.com/nitYe1s...         NaN
502         NaN  https://phantombuster.s3.amazonaws.com/nitYe1s...         NaN
503         NaN  https://phantombuster.s3.amazonaws.com/nitYe1s...         NaN

[504 rows x 69 columns]>

In [63]:
sum(data_scraped.isna().sum() > 200)

17

In [64]:
missing_data = data_scraped.isna().sum() > 200

In [65]:
missing_data

url                   False
title                 False
linkedinProfileUrl    False
email                  True
linkedinProfile       False
                      ...
connectedOn            True
error                  True
phoneNumber            True
partialScreenshot      True
facebookUrl            True
Length: 69, dtype: bool

In [96]:
df_new = data_scraped[data_scraped.columns[~missing_data]]

In [97]:
df_new.shape

(504, 52)

In [98]:
df_new['mutualConnectionsText']

0                                                    NaN
1      Carlo Cantarini, Thomas Hartmann, and 28 other...
2                                                    NaN
3      ðŸ¤– Leon Meier and Nisha Kumari are mutual conne...
4      Torben Schulz, Sonya Pobiedimska, and 2 other ...
                             ...
499    Chiara Zanchetta and Maaz Bin Kashif are mutua...
500    Esther Kim Trapadoux, Dominik Kress, and 36 ot...
501                                                  NaN
502               Carlo Cantarini is a mutual connection
503    Sonya Pobiedimska, Matti ðŸ¥‘ Schurr, and 4 other...
Name: mutualConnectionsText, Length: 504, dtype: object

In [99]:
df_new.columns

Index(['url', 'title', 'linkedinProfileUrl', 'linkedinProfile', 'description',
       'headline', 'location', 'firstName', 'lastName', 'fullName',
       'connectionDegree', 'vmid', 'userId', 'linkedinSalesNavigatorUrl',
       'connectionsCount', 'connectionsUrl', 'mutualConnectionsUrl', 'company',
       'companyUrl', 'jobTitle', 'jobDescription', 'jobLocation',
       'jobDateRange', 'jobDuration', 'company2', 'companyUrl2', 'jobTitle2',
       'jobDescription2', 'jobLocation2', 'jobDateRange2', 'jobDuration2',
       'school', 'schoolUrl', 'schoolDegree', 'schoolDateRange', 'school2',
       'schoolUrl2', 'schoolDegree2', 'schoolDateRange2', 'allSkills',
       'skill1', 'skill2', 'skill3', 'skill4', 'skill5', 'skill6', 'baseUrl',
       'profileId', 'timestamp', 'subscribers', 'mutualConnectionsText',
       'imgUrl'],
      dtype='object')

In [ ]:
 'connectionsUrl', 'mutualConnectionsUrl', 'companyUrl', 'schoolUrl', 'schoolUrl2',

In [100]:
df_new = df_new.drop(columns=["url", 'vmid', 'userId', 'linkedinSalesNavigatorUrl', 'linkedinProfileUrl', 'linkedinProfile', 'imgUrl', 'baseUrl', 'timestamp', 'connectionsUrl', 'mutualConnectionsUrl', 'companyUrl', 'schoolUrl', 'schoolUrl2', ])

In [101]:
df_new

,title,description,headline,location,firstName,lastName,fullName,connectionDegree,connectionsCount,company,...,allSkills,skill1,skill2,skill3,skill4,skill5,skill6,profileId,subscribers,mutualConnectionsText
0,Patrick Beeker,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",Patrick,Beeker,Patrick Beeker,3rd,267.0,Orbis Systems,...,"Accounting, Management, Strategic Planning, Fo...",Accounting,Management,Strategic Planning,Forecasting,Organizational Development,Business Strategy,patrick-beeker-4673311,NaN,NaN
1,Teena Kumari â€“ Tech product support intern â€“ H...,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",Teena,Kumari,Teena Kumari,2nd,1136.0,Holidu,...,"Market Research, Product Strategies, Team Lead...",Market Research,Product Strategies,Team Leadership,Cross-functional Team Leadership,Project Planning,Business Development,teena-kumari-0b8359271,1148.0,"Carlo Cantarini, Thomas Hartmann, and 28 other..."
2,Mischa Gawronski â€“ Creative Director â€“ Freelance,Passionate and challenging influencer in strat...,IGP Network | Creative Director,"Berlin, Berlin, Germany",Mischa,Gawronski,Mischa Gawronski,3rd,146.0,Freelance,...,"Strategische Planung, Soziale Medien, Visuelle...",Strategische Planung,Soziale Medien,Visuelle Kommunikation,Fotografie,Business Development,Critical Thinking,mischagawronski,149.0,NaN
3,Shuvam Kumar Sah â€“ Web Designer,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",Shuvam Kumar,Sah,Shuvam Kumar Sah,2nd,470.0,A.T.E.M. Management GmbH,...,"React.js, Java, JavaScript, Cascading Style Sh...",React.js,Java,JavaScript,Cascading Style Sheets (CSS),Front-End Development,Wireframing,shuvam-kumar-sah-8859061a9,467.0,ðŸ¤– Leon Meier and Nisha Kumari are mutual conne...
4,Ayman Chalhoub - Clink,NaN,Product & Growth,"Berlin, Berlin, Germany",Ayman,Chalhoub,Ayman Chalhoub,2nd,NaN,Clink,...,"Product Marketing, Start-ups, Cross-functional...",Product Marketing,Start-ups,Cross-functional Team Leadership,Business Development,Mobile Applications,Mobile Technology,chalhoub,1975.0,"Torben Schulz, Sonya Pobiedimska, and 2 other ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,Lydia Dietrich - Product Manager - GoStudent,NaN,Product Manager at GoStudent,"Berlin, Berlin, Germany",Lydia,Dietrich,Lydia Dietrich,2nd,276.0,GoStudent,...,"Communcation skills, Product Management, Marke...",Communcation skills,Product Management,Market Research,Foreign Languages,Project Management,Teamwork,lydia-dietrich,293.0,Chiara Zanchetta and Maaz Bin Kashif are mutua...
500,Busayomi Omotosho - Hexad GmbH,Hello there! I'm Busayomi. \n\nI have been a p...,Product management | B2B | B2C | Product manag...,"Berlin, Berlin, Germany",Busayomi,Omotosho,Busayomi Omotosho,1st,769.0,Hexad GmbH,...,"Product Marketing, User Experience (UX), Produ...",Product Marketing,User Experience (UX),Product Strategy,Customer Experience,Product Management,Project Management,busayomi-omotosho-1ab461b0,831.0,"Esther Kim Trapadoux, Dominik Kress, and 36 ot..."
501,Schultz-Zehden Angela - SUBMARINER Network for...,NaN,Unternehmensinhaber s.Pro GmbH,Berlin Metropolitan Area,Schultz-Zehden,Angela,Schultz-Zehden Angela,3rd,824.0,SUBMARINER Network for Blue Growth EEIG,...,"Stakeholder-Engagement, Multi-Use, Strategic R...",Stakeholder-Engagement,Multi-Use,Strategic Roadmaps,Proposal Development,EU Project Design,Stakeholder-Management,schultz-zehden-angela-93395a32,836.0,NaN
502,Abhishek Khatri â€“ Zalando,PID-IT | SICHERES POPM | PSM | AGILER COACH | ...,"Senior Program Manager @ Zalando | PGD-IT, PRI...",Berlin Metropolitan Area,Abhishek,Khatri,Abhishek Khatri,2nd,500.0,Zalando,...,"Product Development, Service Operations, Techn...",Product Development,Service Operations,Technical Requirements,Programme Delivery,Key Performance Indicators,Establishing Priorities,abhishek-khatri-01525518,NaN,Carlo Cantarini is a mutual connection
503,Ramin Amirov - mytheresa.com,"An enthusiastic, adaptive and open-minded pers...",Marketing Analyst,Germany,Ramin,Amirov,Ramin Amirov,2nd,721.0,mytheresa.com,...,"Supplier Management, Key Performance Indicator...",Supplier Management,Key Performance Indicators,Business Process,Build Strong Relationships,Presentations,Economics,ramin-amirov,715.0,"Sonya Pobiedimska, Matti ðŸ¥‘ Schurr, and 4 other..."

In [102]:
df_new.columns

Index(['title', 'description', 'headline', 'location', 'firstName', 'lastName',
       'fullName', 'connectionDegree', 'connectionsCount', 'company',
       'jobTitle', 'jobDescription', 'jobLocation', 'jobDateRange',
       'jobDuration', 'company2', 'companyUrl2', 'jobTitle2',
       'jobDescription2', 'jobLocation2', 'jobDateRange2', 'jobDuration2',
       'school', 'schoolDegree', 'schoolDateRange', 'school2', 'schoolDegree2',
       'schoolDateRange2', 'allSkills', 'skill1', 'skill2', 'skill3', 'skill4',
       'skill5', 'skill6', 'profileId', 'subscribers',
       'mutualConnectionsText'],
      dtype='object')

In [104]:
df_new.isna().sum()

title                      5
description              154
headline                  16
location                  16
firstName                 16
lastName                  16
fullName                  16
connectionDegree          16
connectionsCount          46
company                   23
jobTitle                  24
jobDescription           193
jobLocation               92
jobDateRange              26
jobDuration               27
company2                  32
companyUrl2               77
jobTitle2                 33
jobDescription2          127
jobLocation2             105
jobDateRange2             33
jobDuration2              34
school                    31
schoolDegree              41
schoolDateRange           73
school2                  108
schoolDegree2            120
schoolDateRange2         146
allSkills                 36
skill1                    36
skill2                    38
skill3                    40
skill4                    44
skill5                    46
skill6                    48
profileId                 16
subscribers               66
mutualConnectionsText     77
dtype: int64

In [187]:
df_new[df_new['firstName'] == "Andrey"]

,title,description,headline,location,firstName,lastName,fullName,connectionDegree,connectionsCount,company,...,allSkills,skill1,skill2,skill3,skill4,skill5,skill6,profileId,subscribers,mutualConnectionsText
119,Andrey SchÃ¤fer â€“ Hochschule fÃ¼r Angewandte ...,NaN,Technikbegeistert,"Hamburg, Hamburg, Germany",Andrey,SchÃ¤fer,Andrey SchÃ¤fer,3rd,291.0,Tesla,...,"Tontechnik, Sound-Design, Elektrotechnik, Desi...",Tontechnik,Sound-Design,Elektrotechnik,Design,Netzwerktechnik,Kommunikation,andrey-sch%C3%A4fer-852106220,293.0,NaN
270,Andrey Shilin - HelloFresh,Visionary product leader with 8+ years of expe...,Customer Data and AI Product @ HelloFresh | ex...,"Berlin, Berlin, Germany",Andrey,Shilin,Andrey Shilin,1st,780.0,HelloFresh,...,"Business Development, Programmatic Advertising...",Business Development,Programmatic Advertising,Mobile Application Development,Mentoring,Artificial Intelligence (AI),Machine Learning,andrewshilin,787.0,"Rosario Marrazzo, Andre Zayarni, and 27 other ..."