In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
from pathlib import Path

In [8]:
data_events = pd.read_csv("../raw_data/240304 BPM Events list people  - ALL __.csv")
data_scraped = pd.read_csv("../raw_data/result.csv")

In [14]:
data = pd.read_csv("../raw_data/BPM Events list people.csv")

In [3]:
data_events.head()

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,Location
0,2,Patrick,Beeker,patrick.beeker@gmail.com,Attending,Product,Product Manager,NaN,NaN,BPM Meetup group,Smartbroker AG,Yes,Tuesday,Berlin
1,2,Teena,Kumari,teena2768@gmail.com,Attending,Product,Product Manager,NaN,NaN,LinkedIn,World simplifed Ug,Yes,Tuesday,Berlin
2,2,Nesha,Siwi,i@neshasiwi.de,Attending,Design,NaN,NaN,NaN,LinkedIn,Freelancer,Yes,Tuesday,Berlin
3,2,Shuvam kumar,Sah,shuvamshah98152@gmail.com,Attending,Student,NaN,NaN,NaN,BPM Meetup group,ATEM,Yes,Tuesday,Berlin
4,2,Ayman,Chalhoub,aymanc@gmail.com,Attending,Founder / CXO,NaN,NaN,NaN,Lenny's Newsletter,Clink,Yes,Tuesday,Berlin

In [7]:
data_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Event                      1067 non-null   int64
 1   First Name                 1067 non-null   object
 2   Surname                    1067 non-null   object
 3   Email                      1067 non-null   object
 4   Attendee Status            1067 non-null   object
 5   Your Job Position          616 non-null    object
 6   Choose your role           433 non-null    object
 7   Choose your role.1         79 non-null     object
 8   Seniority                  62 non-null     object
 9   How did you hear from us?  676 non-null    object
 10  Company                    994 non-null    object
 11  Rain                       1067 non-null   object
 12  Day                        1067 non-null   object
 13  Location                   1067 non-null   object
dtypes: int64(1), object(13)
memory usage: 116.8+ KB

In [9]:
data_merged.head()

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,subscribers,mutualConnectionsText,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl
0,https://linkedin.com/in/patrick-beeker-4673311,Patrick Beeker,https://www.linkedin.com/in/patrick-beeker-467...,NaN,https://www.linkedin.com/in/patrick-beeker-467...,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",Patrick,Beeker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://linkedin.com/in/teena-kumari-0b8359271,Teena Kumari â€“ Tech product support intern â€“ H...,https://www.linkedin.com/in/teena-kumari-0b835...,NaN,https://www.linkedin.com/in/teena-kumari-0b835...,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",Teena,Kumari,...,1148.0,"Carlo Cantarini, Thomas Hartmann, and 28 other...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://linkedin.com/in/mischagawronski,Mischa Gawronski â€“ Creative Director â€“ Freelance,https://www.linkedin.com/in/mischagawronski/,NaN,https://www.linkedin.com/in/mischagawronski/,Passionate and challenging influencer in strat...,IGP Network | Creative Director,"Berlin, Berlin, Germany",Mischa,Gawronski,...,149.0,NaN,https://media.licdn.com/dms/image/C5603AQHb9Mw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://linkedin.com/in/shuvam-kumar-sah-88590...,Shuvam Kumar Sah â€“ Web Designer,https://www.linkedin.com/in/shuvam-kumar-sah-8...,NaN,https://www.linkedin.com/in/shuvam-kumar-sah-8...,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",Shuvam Kumar,Sah,...,467.0,ðŸ¤– Leon Meier and Nisha Kumari are mutual conne...,https://media.licdn.com/dms/image/D4E03AQFcJ48...,dribbble.com/shuvam_sah,NaN,NaN,NaN,NaN,NaN,NaN
4,https://linkedin.com/in/chalhoub,Ayman Chalhoub - Clink,https://www.linkedin.com/in/chalhoub/,NaN,https://www.linkedin.com/in/chalhoub/,NaN,Product & Growth,"Berlin, Berlin, Germany",Ayman,Chalhoub,...,1975.0,"Torben Schulz, Sonya Pobiedimska, and 2 other ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        499 non-null    object
 1   title                      499 non-null    object
 2   linkedinProfileUrl         460 non-null    object
 3   email                      138 non-null    object
 4   linkedinProfile            460 non-null    object
 5   description                350 non-null    object
 6   headline                   488 non-null    object
 7   location                   488 non-null    object
 8   firstName                  488 non-null    object
 9   lastName                   488 non-null    object
 10  fullName                   488 non-null    object
 11  connectionDegree           488 non-null    object
 12  vmid                       488 non-null    object
 13  userId                     488 non-null    float64
 14  linkedinSalesNavigatorUrl  488 non-null    object
 15  connectionsCount           458 non-null    float64
 16  connectionsUrl             488 non-null    object
 17  mutualConnectionsUrl       488 non-null    object
 18  company                    481 non-null    object
 19  companyUrl                 438 non-null    object
 20  jobTitle                   480 non-null    object
 21  jobDescription             311 non-null    object
 22  jobLocation                412 non-null    object
 23  jobDateRange               478 non-null    object
 24  jobDuration                477 non-null    object
 25  company2                   472 non-null    object
 26  companyUrl2                427 non-null    object
 27  jobTitle2                  471 non-null    object
 28  jobDescription2            377 non-null    object
 29  jobLocation2               399 non-null    object
 30  jobDateRange2              471 non-null    object
 31  jobDuration2               470 non-null    object
 32  school                     473 non-null    object
 33  schoolUrl                  429 non-null    object
 34  schoolDegree               463 non-null    object
 35  schoolDescription          223 non-null    object
 36  schoolDateRange            431 non-null    object
 37  school2                    396 non-null    object
 38  schoolUrl2                 327 non-null    object
 39  schoolDegree2              384 non-null    object
 40  schoolDescription2         172 non-null    object
 41  schoolDateRange2           358 non-null    object
 42  birthday                   203 non-null    object
 43  allSkills                  468 non-null    object
 44  skill1                     468 non-null    object
 45  endorsement1               278 non-null    float64
 46  skill2                     466 non-null    object
 47  endorsement2               289 non-null    float64
 48  skill3                     464 non-null    object
 49  endorsement3               276 non-null    float64
 50  skill4                     460 non-null    object
 51  endorsement4               270 non-null    float64
 52  skill5                     458 non-null    object
 53  endorsement5               263 non-null    float64
 54  skill6                     456 non-null    object
 55  endorsement6               282 non-null    float64
 56  baseUrl                    499 non-null    object
 57  profileId                  488 non-null    object
 58  timestamp                  504 non-null    object
 59  subscribers                438 non-null    float64
 60  mutualConnectionsText      427 non-null    object
 61  imgUrl                     467 non-null    object
 62  website                    136 non-null    object
 63  mail                       138 non-null    object
 64  connectedOn                144 non-null    object
 65  error                      6 non-null      object
 66  phoneNumber                26 non-null     object
 67  partialScreenshot          297 non-null    object
 68  facebookUrl                1 non-null      object
dtypes: float64(9), object(60)
memory usage: 271.8+ KB

In [12]:
data.head()

,Contacts,# registered,# cancel,# attended,# strike count,Active,Name,Surname,1,2,3,4,5,6,7,8,9,10,11,12
0,miji.lee.kr@hotmail.com,3,0,5,-2,True,Miji,Lee,1,1,1,0,1,1,0,0,0,0,0,0
1,aleksej.ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
2,Aleksej.Ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
3,zulfia@malyshenko.com,2,1,4,-3,True,Zulfiya,Malyshenko,1,0,0,1,1,1,0,0,0,0,0,0
4,kumari.nisha.de@gmail.com,2,0,4,-2,True,Nisha,Kumari,0,1,1,0,1,1,0,0,0,0,0,0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Contacts        746 non-null    object
 1   # registered    999 non-null    int64
 2   # cancel        999 non-null    int64
 3   # attended      999 non-null    int64
 4   # strike count  999 non-null    int64
 5   Active          999 non-null    bool
 6   Name            746 non-null    object
 7   Surname         746 non-null    object
 8   1               999 non-null    int64
 9   2               999 non-null    int64
 10  3               999 non-null    int64
 11  4               999 non-null    int64
 12  5               999 non-null    int64
 13  6               999 non-null    int64
 14  7               999 non-null    int64
 15  8               999 non-null    int64
 16  9               999 non-null    int64
 17  10              999 non-null    int64
 18  11              999 non-null    int64
 19  12              999 non-null    int64
dtypes: bool(1), int64(16), object(3)
memory usage: 149.4+ KB